@import 'utilities/variables';
$card: rgb(245, 245, 245);

#main {
  .main__wrapper {
    .heading {
      text-align: center;
      margin-bottom: 80px;
    }
  }

  a {
    transition: all 200ms ease-in-out;

    &:hover {
      color: $brand-purple;
    }
  }
}

.series {
  margin-top: -8px;
}

.product__collection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 20px;

  .product__collection__item {
    width: 350px;
    height: 450px;

    .info {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .link {
      font-weight: bold;
      // padding: 5px 10px;
      // border: 1px solid $dark-black;

      // background-color: $card;
      // border-radius: 100px;

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $flat-grey;
      }
    }

    .image__wrapper {
      height: 362px;
      width: 100%;
      position: relative;
      background-color: $card;
      border-radius: $border-radius;

      img {
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .product__collection {
    justify-content: center;

    .product__collection__item {
      margin: 50px 30px;
    }
  }
}
