@import 'utilities/variables';

#main {
  padding: 30px 40px;

  background-color: white;
  color: $dark-black p {
    display: none;
    color: $dark-black;
  }
}

.body {
  max-width: 500px;
}

.item__wrapper {
  justify-content: space-between;
}

.resources {
  display: flex;
  max-width: 350px;
  justify-content: space-between;
  flex: 100;
  gap: 20px;
  ul {
    list-style: none;
    max-width: 100px;
    flex: 100;
    // margin: 0 20px;
  }
}

.copyright {
  margin-top: 40px;
  border-top: 1px solid $dark-black;
  padding: 10px 0;
  text-align: left;
}

.social {
  display: flex;
  justify-content: flex-start;
  .social_item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: $brand-purple-lightened;
    border: 1px solid $dark-black;
    padding: 5px;
    border-radius: 10px;

    cursor: pointer;
  }

  svg {
    path {
      fill: $dark-black;
    }
  }

  max-width: 120px;
}

.logo_wrapper {
  flex: 100;
}

.logo {
  position: relative;
  width: 60px;
  height: 60px;
  aspect-ratio: 2/1;
  margin: 0;
  margin-bottom: 20px;

  img {
    object-fit: contain;
  }
}

@media screen and (max-width: 730px) {
  .logo_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resources {
    max-width: 100%;
    flex: 100;
  }

  .item__wrapper {
    flex-direction: column;
    // align-items: center;

    div {
      margin: 20px 0;
    }
  }
}
