@import 'utilities/variables';

#main {
  padding-top: 40px;
  min-height: 90vh;
  background-image: url('/assets/bottle-hero.jpg');
  // background-position: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // padding-left: 40px;

  .inner {
    max-width: 550px;
    padding-top: 50px;

    .inner_2 {
      margin-top: 100px;
      display: flex;
      align-items: center;

      button {
        background-color: $brand-purple;
        color: $white;
        font-weight: bold;
        font-family: 'Poppins';
        margin-right: 40px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #main {
    // background-size: contain;
    background-position: center;
    background-image: none;

    h1 {
      font-size: 50px;
    }

    .inner {
      max-width: 450px;
    }
  }
}
