@import 'utilities/variables';

#nav {
  min-height: 80px;
  background-color: $white;
  padding: 10px;
  position: sticky;
  top: 0;
  width: 100%;

  > div {
    flex-wrap: wrap;
  }

  z-index: 10000;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  ul {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 100;
    padding: 0 10px;

    li {
      margin: 0 40px;
    }
  }
}




.hamburger {
  display: none;
}

.item__wrapper {
  display: flex;
}

@media screen and (max-width: 800px) {
  #nav {
    img {
      width: 80px;
    }
  }

  .hamburger {
    display: flex;
    align-items: center;
  }
  .item__wrapper {
    justify-content: space-between;
  }
  .nav__links {
    display: none;
  }
}

.box__link {
  padding: 5px 20px;
}

#home__link {
  background-color: $dark-black;
  padding: 5px 20px;

  a {
    color: white;
  }
}

.link {
  // transition: all ease-in 500ms;
  position: relative; 

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    opacity: 100;
    width: 0;
    height: 3px;
    background-color: $brand-purple;
    transition: all 200ms ease-out;
    
  }
  &:hover {
    &::after {
      width: 100%;
      opacity: 100;
      left: 0
    }
    

  }
}

@media screen and (max-width: 540px) {
  .image__wrapper {
    flex: 100;
    display: flex;

    justify-content: center;
  }
}
