$dark-black: #1f1f1f;
$white: #fafafa;
$brand-purple: rgb(126, 48, 242);
$brand-purple-lightened: rgba(126, 49, 242, 0.247);
$brand-purple-dark: hwb(264 19% 50%);
$yellow-1: #f5b637;
$blue-bg: #2373d0;
$item-border: #468BF3;
$highlight-color: $brand-purple;

// Shades
$flat-grey: #848484;
$lighter-grey: #f5f5f5;
$grey: rgb(235, 235, 235);
$purple-1: #7443bf;
$border-radius: 8px;
$border-radius-extra: 91px;

$default-font-size: 16px;

$transiton-default: 250ms;
$card-padding: 25px;
$page-padding: 80px;
$heading-padding: 80px;
$flex-page-gap: 40px;
$width-padding: 80px;
